{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="position-sticky sticky-top mt-3 p-3 border rounded-2">
                    <h2 class="h3 fw-bold">About this project</h2>
                    <div class="mb-4"><p>This project is made using:</p>
                    <ul>
                        <li>
                            <a href="https://symfony.com/" target="_blank">Symfony 6 PHP Framework <i class="bi bi-box-arrow-up-right"></i></a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/" target="_blank">Bootstrap 5 CSS Framework <i class="bi bi-box-arrow-up-right"></i></a>
                        </li>
                        <li>
                            <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons <i class="bi bi-box-arrow-up-right"></i></a>
                        </li>
                        <li>
                            <a href="https://symfony.com/doc/current/frontend.html#encore-documentation" target="_blank">Webpack Encore <i class="bi bi-box-arrow-up-right"></i></a>
                        </li>
                    </ul>
                    <a href="https://github.com/isaac-newbton/posts-social-symfony" target="_blank" class="btn btn-primary rounded-pill d-block d-sm-inline-block my-2">Open GitHub <i class="bi bi-box-arrow-up-right"></i></a>
                    <a href="{{ url('app_index') }}" class="btn btn-outline-primary rounded-pill d-block d-sm-inline-block my-2">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}