<footer class="text-bg-primary fixed-bottom">
    <div class="container py-2">
        <div class="row align-items-center">
            <div class="col-md-2 col-lg-3 d-none d-md-block"></div>
            <div class="d-none d-sm-block col">
                <div class="h4">Don't Miss Out</div>
                <div class="small">
                    Be the first to know.
                </div>
            </div>
            <div class="col text-sm-end d-flex d-sm-block justify-content-center">
                <a href="#" class="btn btn-outline-light rounded-pill flex-grow-1 me-1">Log In</a>
                <a href="{{ url('app_register') }}" class="btn btn-light rounded-pill flex-grow-1 ms-1">Sign Up</a>
            </div>
        </div>
    </div>
</footer>