{% extends "base.html.twig" %}

{% block body %}
    <div class="container-lg" style="margin-bottom: 80px;">
        <div class="row justify-content-center">

            {% block main_content %}
                <div class="col-md-7 col-xl-5 pt-3">
                    {% include "posts/list.html.twig" with {'posts' : posts} %}
                </div>
            {% endblock %}

            {% block sidebar_right %}  
                <div class="col-md-4 col-xl-3 d-none ps-2 d-md-block">
                    {% include "sidebar_right.html.twig" %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
