<div class="position-sticky sticky-top mt-3 p-3 border rounded-2">
    <div class="h3 mb-3 fw-bold">New Here?</div>
    <div class="small mb-4"><p class="mb-1">This is an example project built using Symfony PHP and Bootstrap CSS.</p><a href="{{ url('app_about') }}">Learn More</a></div>
    <a href="{{ url('app_login') }}" class="btn btn-outline-primary rounded-pill d-block my-2">Log In</a>
    <a href="{{ url('app_register') }}" class="btn btn-primary rounded-pill d-block my-2">Sign Up</a>
</div>